build
*.jpg
lib/extra/detector/lib/libdetector.so
lib/extra/detector/lib/yolov5s_fp16_b1.engine
lib/extra/tracker/lib/libtracker.so
lib/extra/reid/lib/libFastRTEngine.so.0
lib/extra/reid/lib/libreid.so
lib/extra/reid/lib/sbs_R50-ibn.engine
data/test.avi
